<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.yhdatabase.bizportal.mapper.ComInfoMapper">
 
    <select id="select" parameterType="long" resultType="com_info">
        SELECT * FROM com_info WHERE IDX=#{id}
    </select>
    
</mapper>
